_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
Gemfile.lock
*.gem
**/.ruby-version
main.css.map
site-style.css.map

# OS Files 
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
