---
title: Latest Blog Articles
layout: default
description: >- # this means to ignore newlines until "baseurl:"
  Latest blog posts covering various technology projects and topics.
---
<section id="blog">
	<h1>Latest Blog Posts</h1>
	<p>My latest blog posts, ranging from various technology projects and topics including Web Development, Linux, Networking, Cisco, IoT and Home Automation and more.</p>

	<p><small><em>Articles may contain Affiliate links to help support this site, if you would like to support me please consider:</em></small></p>
	<div class="blog-support">
		{% for item in site.data.support %}
			<a class="blog-support-link" href="{{ item.link }}" target="_blank">{{ item.name | capitalize }} {{ item.icon }}</a>
		{% endfor %}
	</div>

	<ul class="blog-wrapper">
		{% for post in site.posts %}
			<a href="{{ post.url }}">
				<li>
					<p class="blog-title">{{ post.title }}</p>
					<p class="blog-date">Date: {{ post.date | date_to_string }}</p>
					<!-- <hr>
					<p class="blog-description">{{ post.description }}</p> -->
					<hr>
					<p class="blog-category">Categories: {{ post.categories }}</p>
					<!-- <p class="blog-tag">Tags: {{ post.tags }}</p> -->
				</li>
			</a>
		{% endfor %}
	</ul>
	
</section>
<div class="backtotop">
	<a href="#">Back to Top</a>
</div>