.work-flexwrap
  max-width: 800px
  align-self: center
  @extend %flexwrap

  [class^="work-"]
    background: white
    display: flex

    &:hover, &:focus, &:active

      div
        background: rgba(darken($brand-primary, 50%), 0.8)
        transition: background 0.2s

        & > *
          opacity: 1

    div
      overflow: hidden
      height: 130px
      width: 200px
      text-align: center
      // nested flex container
      display: flex
      flex-wrap: wrap
      flex-direction: column
      justify-content: center
      align-items: center

    div > *
      opacity: 0
      font-size: 1.2em

  .work-one
    background-image: url("")
  .work-two
    background-image: url("")
  .work-three
    background-image: url("")
  .work-four
    background-image: url("")
  .work-five
    background-image: url("")
  .work-six
    background-image: url("")
  .work-seven
    background-image: url("")
  .work-eight
    background-image: url("")
