<footer>
        <div class="footer-inner">

            <div class="footer-brand">
                <!-- Site Logo -->
                {% include logo.svg %}
                <!-- Site Name -->
                <span>NetworkingDream</span>
            </div>

            <div class="footer-center">
                <a href="https://uptime.networkingdream.com/status/services" aria-label="Services Status Page">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M22 12h-2.48a2 2 0 0 0-1.93 1.46l-2.35 8.36a.25.25 0 0 1-.48 0L9.24 2.18a.25.25 0 0 0-.48 0l-2.35 8.36A2 2 0 0 1 4.49 12H2"></path>
                    </svg>
                </a>
            </div>

            <div class="footer-socials" aria-describedby="footer-socials-desc">

                <div class="footer-social-group">
                    <span class="footer-social-label">Social</span>
                    <div class="social-circles">
                        {% for link in site.data.socials.social %}
                            <a href="{{ link.url }}" class="circle" aria-label="{{ link.name }}">
                                {% include icons/{{ link.icon }}.svg %}
                            </a>
                        {% endfor %}
                    </div>
                </div>

                <div class="footer-social-group">
                    <span class="footer-social-label">Support</span>  
                    <div class="social-circles">
                        {% for link in site.data.socials.support %}
                            <a href="{{ link.url }}" class="circle" aria-label="{{ link.name }}">
                                {% include icons/{{ link.icon }}.svg %}
                            </a>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>

    </footer>