<footer>
        <div class="footer-inner">

            <div class="footer-brand">
                <!-- Site Logo -->
                {% include logo.svg %}
                <!-- Site Name -->
                <span>NetworkingDream</span>
            </div>

            <div class="footer-center">
                {% for link in site.data.links.footer-center-links %}
                    <a href="{{ link.url }}" aria-label="{{ link.name }}">
                        {% include icons/{{ link.icon }}.svg %}
                    </a>
                {% endfor %}
            </div>

            <div class="footer-socials" aria-describedby="footer-socials-desc">

                <div class="footer-social-group">
                    <span class="footer-social-label">Social</span>
                    <div class="social-circles">
                        {% for link in site.data.socials.social %}
                            <a href="{{ link.url }}" class="circle" aria-label="{{ link.name }}">
                                {% include icons/{{ link.icon }}.svg %}
                            </a>
                        {% endfor %}
                    </div>
                </div>

                <div class="footer-social-group">
                    <span class="footer-social-label">Support</span>  
                    <div class="social-circles">
                        {% for link in site.data.socials.support %}
                            <a href="{{ link.url }}" class="circle" aria-label="{{ link.name }}">
                                {% include icons/{{ link.icon }}.svg %}
                            </a>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>

    </footer>