<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-WKDMZG170N"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'G-WKDMZG170N');
	</script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
<link rel="stylesheet" href="{{ 'assets/css/site-style.css' | relative_url }}">

<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">

<!-- Twitter card meta-->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@{{ site.twitter_username }}">
	<meta name="twitter:creator" content="@{{ site.twitter_username }}">

	{% if page.title %}
	  <meta name="twitter:title" content="{{ page.title }}">
	{% else %}
	  <meta name="twitter:title" content="{{ site.title }}">
	{% endif %}

	{% if page.url %}
	  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
	{% endif %}

	{% if page.description %}
	  <meta name="twitter:description" content="{{ page.description }}">
	{% else %}
	  <meta name="twitter:description" content="{{ site.description }}">
	{% endif %}

	{% if page.image %}
	  <meta name="twitter:image:src" content="{{ site.url }}/assets/images/posts/{{ page.image }}">
	{% else %}
	  <meta name="twitter:image:src" content="{{ site.url }}/assets/images/brand.png">
	{% endif %}
