<section id="latestblog">
	<h2>Latest Blog</h2>
	
	<div class="latestblog-flexwrap">
		{% for post in site.posts | limit:6 %}
			<a class="latest-post" href="{{ post.url | relative_url }}">
				<div>
					<p>{{ post.title }}</p>
					<i class="fa fa-book-open"></i>
				</div>
			</a>
		{% endfor %}
	</div>

	<div class="viewallposts">
		<a href="/blog">View All Posts</a>
	</div>
	
	<p>My latest blog posts cover a wide range of technology projects and topics, including web development, Linux, networking, Cisco, IoT, home automation, and more.</p>

</section>
