<section id="latestblog">
	<h2>Latest Blog</h2>
	
	<div class="latestblog-flexwrap">
		{% for post in site.posts | limit:6 %}
			<a class="latest-post" href="{{ post.url | relative_url }}">
				<div>
					<p>{{ post.title }}</p>
					<i class="fa fa-book-open"></i>
				</div>
			</a>
		{% endfor %}
	</div>

	<div class="viewallposts">
		<a href="/blog">View All Posts</a>
	</div>
	
	<p>My latest blog posts, ranging from various technology projects and topics including Web Development, Linux, Networking, Cisco, IoT and Home Automation and more.</p>

	<p><small><em>Articles may contain Affiliate links.</em></small></p>
	<iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&p=288&l=ur1&category=pw&banner=08TJWJPB8X19Y13SBM82&f=ifr&linkID=a986fec2124cea3fb6f0c3f37df22a12&t=livingdead10f-21&tracking_id=livingdead10f-21" width="320" height="50" scrolling="no" border="0" marginw<iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&p=288&l=ur1&category=pw&banner=08TJWJPB8X19Y13SBM82&f=ifr&linkID=a986fec2124cea3fb6f0c3f37df22a12&t=livingdead10f-21&tracking_id=livingdead10f-21" width="320" height="50" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0" sandbox="allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation"></iframe>idth="0" style="border:none;" frameborder="0" sandbox="allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation"></iframe>
	<p><small><em>Consider using the links to help support this site.</em></small></p>

</section>
