<section id="work">

<h2>My Website Work</h2>

<div class="work-flexwrap">

  <a href="//github.com/Livingdead1989/mikesairportcars.co.uk" target="_blank" class="work-mac">
    <div>
      <p>Mikes Airport Cars</p>
      <i class="fa fa-search-plus"></i>
    </div>
  </a>

  <a href="//pcs.hants.sch.uk/" target="_blank" class="work-pcs">
    <div>
      <p>Park Community School</p>
      <i class="fa fa-search-plus"></i>
    </div>
  </a>

  <a href="//thesolentscitt.co.uk/" target="_blank" class="work-scitt">
    <div>
      <p>The Solent SCITT</p>
      <i class="fa fa-search-plus"></i>
    </div>
  </a>

</div>

</section>