.brand-flexwrap
  max-width: 800px
  align-self: center
  @extend %flexwrap

  .brand-logo

    svg
      margin: 10px
      border: 0
      width: 200px

      path
        fill: $brand-primary
        
#brand
  p
    @extend %sectionpara
    
